name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    environment: "Production EC2"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container
        buildkitd-flags: --debug    
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker Image
      uses: docker/build-push-action@v6
      with:
        context: .        
        push: true
        tags: ${{ vars.IMAGE_TAG_FRONTEND}}
        platforms: linux/arm64

    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}        
      run: |
        echo "$PRIVATE_KEY" > github-ec2.pem
        chmod 600 github-ec2.pem

        ssh -T -o StrictHostKeyChecking=no -i github-ec2.pem ${USER}@${HOST} << EOF
          set -e

          sudo docker pull joaoaugustomv/weather-monitor-frontend

          sudo docker stop wam-front || true
          sudo docker rm wam-front || true

          sudo docker run -d \
            --name wam-front \
            -p 80:80 \            
            joaoaugustomv/weather-monitor-frontend

          echo "Deployment completed."
        EOF
